body {
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url("../img/background-img.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgb(79, 129, 199, 0.8);
  padding: 30px;
  border-radius: 7px;
  border: 2px inset;
  box-shadow: 5px 5px 20px rgb(79, 129, 199);
}
button,
.button {
  background-color: rgba(56, 92, 142);
  border: thin white;
  border-radius: 50%;
  font-size: 22px;
  max-width: 50px;
  padding: 5px 7px;
}

button:hover,
.button:hover {
  color: rgba(56, 92, 142);
  background-color: rgb(130, 153, 185);
}
h1 {
  font-weight: 600;
  color: rgb(240, 215, 140);
  font-size: 40px;
}
h2 {
  color: rgb(171, 214, 232);
}
hr {
  color: rgb(168, 218, 220);
}

.active-scale {
  color: rgb(171, 214, 232);
  text-decoration: none;
  cursor: default;
}

.current-date {
  margin-bottom: 20px;
  font-size: 12px;
}
.dash {
  color: rgb(171, 214, 232, 0.3);
  font-weight: 600;
}
.forecast-day {
  color: rgb(240, 215, 140);
}
.forecast-images {
  max-width: 80%;
}
.forecast-temperature-max,
.forecast-dash {
  color: rgb(171, 214, 232);
}
.forecast-temperature-min {
  color: rgb(171, 214, 232, 0.5);
}

.non-active-scale {
  color: rgb(171, 214, 232, 0.3);
  text-decoration: none;
}
.image {
  text-align: center;
  padding-right: 12%;
}
.main-image {
  background-size: auto;
  max-width: 200px;
}
.open-source {
  font-size: 10px;
  color: rgb(252, 250, 250);
}
.parameter {
  font-weight: 600;
  color: white;
}
.submit {
  width: 70%;
}
.text {
  padding: 8px 20px;
  display: block;
  border-radius: 5px;
  font-size: 13px;
  width: 100%;
  background-color: white;
  border-color: rgba(56, 92, 142);
  box-shadow: 5px 10px 20px rgb(46, 67, 97, 0.4);
}
.weather-properties {
  position: relative;
  top: 15px;
  left: 80px;
  font-size: 16px;
}
.value {
  color: rgb(171, 214, 232);
}

#big-nbr {
  font-size: 80px;
}

#celsius-scale,
#main-dash {
  position: relative;
  top: -40px;
  font-size: 20px;
}
#fahrenheit-scale:hover {
  font-weight: 600;
  cursor: pointer;
  color: rgb(252, 250, 250);
}

.selectionArea {
  text-align: center;
}

#forecast {
  background-color: rgb(171, 214, 232, 0.3);
  border-radius: 5px;
  padding: 20px 30px;
  text-align: center;
  box-shadow: 5px 10px 20px rgb(46, 67, 97, 0.4);
}
#label {
  color: rgb(171, 214, 232);
  font-size: 11px;
  margin-top: 10px;
  text-align: left;
  position: relative;
  left: 14px;
}

#weather-description {
  text-transform: capitalize;
}

.row {
  margin: 0px;
}

@media (max-width: 800px) {
  button,
  .button {
    font-size: 15px;
    max-width: 40px;
    padding: 5px 7px;
  }

  .main-image {
    max-width: 200px;
  }

  #big-nbr {
    font-size: 30px;
    position: relative;
    top: 10px;
    left: -10px;
  }

  #celsius-scale,
  #main-dash {
    font-size: 18px;
    top: 3px;
    left: -10px;
  }

  .weather-properties {
    font-size: 10px;
    left: 10px;
  }

  .daily-forecast {
    margin-bottom: 20px;
  }

  .forecast-day {
    font-size: 12px;
  }
}

@media (max-width: 300px) {
  button,
  .button {
    font-size: 5;
    padding: 1px 2px;
  }
  h1 {
    font-size: 20px;
  }

  .current-date {
    margin-bottom: 10px;
    font-size: 9px;
  }

  #big-nbr {
    font-size: 18px;
    top: -1px;
  }
  #celsius-scale,
  #main-dash {
    position: relative;
    top: -5px;
    font-size: 12px;
  }
  .text,
  #label,
  .forecast-day,
  #temp-min,
  #temp-max {
    font-size: 9px;
  }

  #forecast {
    padding: 7px 0px;
    margin: 3px;
  }
}
